@model FoodBank

@if (Model.Stock.Count == 0)
{
    <h3 class="mt-4 mb-4">This food bank does not currently have any stock</h3>
}
else
{
    <h3 class="mt-4 mb-4">Current Stock At This Food Bank</h3>

    <div class="card rounded shadow p-4">

        <table class="table table-sm">
            <thead>
                
                <tr>

                    <th>Description</th>
                    <th>Quantity</th>
                    <th>Expiry Date</th>
                    
                </tr>

            </thead>

            <tbody>
                @foreach(var s in Model.Stock)
                {
                    <tr>
                        
                        <td>@s.Description</td>
                        <td>@s.Quantity</td>
                        <td>@s.ExpiryDate</td>

                        <td>
                            <a asp-action="StockDelete" asp-route-id="@s.Id" class="btn btn-sm btn-danger">
                                <i class="bi bi-trash"></i>
                            </a>
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
}