@if(Model.Items.Count == 0)
{
    <h5>There is no stock in this parcel , please add some </h5>
}
else
{
    <h3 class="mt-4 mb-4">Items Currently In This Parcel</h3>

    <div class="card rounded shadow p-4">

        <table class="table table-sm">

            <thead>
                <tr>

                    <th>Category</th>
                    <th>Quantity</th>


                </tr>

            </thead>

            <tbody>
                @foreach (var pi in Model.Items)
                {
                    <tr>

                        <td>@pi.Item.Description</td>
                        <td>@pi.Quantity</td>

                    </tr>
                    
                }
            </tbody>
        </table>

    </div>    


}