@model IList<Parcel>

<h3 class="mb-3">Parcel List</h3>

<div class="my-4 d-flex flex-row justify-content-between align-items-center">  
   <a asp-action="Create" class="btn btn-primary btn-sm">Create New Parcel</a>
</div>

<table class="table table-hover">

<thead>
        <tr>
            <th>Parcel Added By</th>
            <th>Client Family Name</th>
            <th>No. Of People</th>
            <th>Location</th>
            
        </tr>
    </thead>

    <tbody>

        @foreach (var p in Model)
        {
            <tr>
                <td>@p.User.FirstName</td>
                <td>@p.Client.SecondName</td>
                <td>@p.Client.NoOfPeople</td>
                <td>@p.FoodBank.StreetName</td>
                
                <td>

                    <a data-bs-toggle="tooltip" data-bs-placement="top" title="View Parcel Details" asp-controller="Parcel" 
                        asp-action="Details" asp-route-id=@p.Id>View</a>

                    <a asp-controller="Parcel" asp-action="Edit" asp-route-id=@p.Id>Edit</a>
                    
                    <a asp-controller="Parcel" asp-action="Delete" asp-route-id=@p.Id>Delete</a>

                </td>

            </tr>
            
        }
    </tbody>

</table>